<div class="container py-5" *ngIf="employees.length > 0; else noEmployeesFound">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Profile URL</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees">
                    <td>{{ employee.firstName }} {{ employee.lastName }}</td>
                    <td>{{ employee.email }}</td>
                    <td><a [href]="employee.profileUrl">{{employee.profileUrl}}</a></td>
                    <td>
                        <div class="d-flex gap-1 justify-content-between">
                            <button
                                class="btn btn-primary"
                                (click)="showEmployeeDetails(employee.emp_id)"
                            >Show Details</button>
                            <button 
                                class="btn btn-warning"
                                (click)="updateEmployee(employee.emp_id)"
                            >Update
                            </button>
                            <button 
                                class="btn btn-danger"
                                (click)="deleteEmployee(employee.emp_id)"
                            >Delete
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a [routerLink]="['/add-employee']" class="btn btn-warning">Add Employee</a>
</div>
<ng-template #noEmployeesFound>
    <h3>Seems like you have not add any employees yet...</h3>
</ng-template>