<h2>Employee Details</h2>
<hr>
<div class="d-flex flex-column gap-3">
    <div class="d-flex flex-column gap-3" *ngIf="employee; else loading">
        <div>
            <strong>Employee ID:</strong> {{ employee.emp_id }}
        </div>
        <div>
            <strong>First Name:</strong> {{ employee.firstName | titlecase }}
        </div>
        <div>
            <strong>Last Name:</strong> {{ employee.lastName | titlecase }}
        </div>
        <div>
            <strong>Email:</strong> {{ employee.email }}
        </div>
        <div>
            <strong>Profile Pic:</strong>
            <div>
                <img [src]="employee.profileUrl" [alt]="employee.firstName + ' ' + employee.lastName" style="max-height: 300px;">
            </div>
        </div>
    </div>
    <div>
        <a [routerLink]="['/']" class="btn btn-primary">Go Back to Employee List</a>
    </div>
</div>
<ng-template #loading>
    <h3>Please wait while we retrieve the employee details...</h3>
</ng-template>