<h2>Polar Bear</h2>

<div>
    <img [src]="image" width="400" [routerLink]="['/']">
</div>

<h3>Subscribe to Newsletter</h3>
<form [formGroup]="form" (ngSubmit)="subscribe()">
    <label for="email">Your email</label>
    <input type="email" size=20 placeholder="Please key in a valid email" formControlName="email">
    <button type="submit">Subscribe</button>
</form>

<div>Invalid {{form.invalid}}</div>
<div>Pristine {{form.pristine}}</div>
<div>Dirty {{form.dirty}}</div>

<div>
    <button type="button" [routerLink]="['/']">Back</button>
</div>