<h2>You are searching for games with '<code>{{ searchText }}</code>'</h2>

<div>
    <button type="button" [routerLink]="['/']">
        Back
    </button>
</div>

<!-- <h2>By Promise</h2> -->

<!-- Use this when in Typescript, you already 'process' the promise i.e. then/catch -->
<!-- 
<ul>
    <li *ngFor="let g of games">
        <a [routerLink]="['/game/', g.gameId]">
            {{ g.name | titlecase }}
        </a>
    </li>
</ul> 
-->

<!-- Use this when in Typescript, you only return the promise and want to process here using | async 
The @if and @else is based on latest syntax (you can use *ngIf) while *ngFor is the older syntax -->
<!--
@if (gamesP$ | async; as gamesP) {
    <li *ngFor="let g of gamesP">
        <a [routerLink]="['/game/', g.gameId]">
            {{ g.name | titlecase }}
        </a>
    </li>
} @else {
    <h2>Loading....</h2>
} 
-->

<h2>By Observable</h2>
<!-- Rmb, Observable returns a 'stream of data', not just single value like Promise -->
<!-- Using new syntax -->
<ul>
    @for (g of gamesO$ | async; track $index) {
        <li>
            <a [routerLink]="['/game/', g.gameId]" [queryParams]="{q: searchText}">
                {{ g.name | titlecase }}
            </a>
        </li>
    } @empty {
        <h2>No games found</h2>
    }
</ul>

<!-- Using old syntax -->
<!--
<ul>
    <li *ngFor="let g of gamesO$ | async">
        <a [routerLink]="['/game/', g.gameId]">
            {{ g.name | titlecase }}
        </a>
    </li>
</ul>
-->