<button 
    class="btn btn-primary py-1 px-4 mb-4" 
    type="button" 
    [routerLink]="['/characters']" 
    [queryParams]="{ q: searchText }">
    Back
</button>

<br>

<div class="d-flex flex-column gap-3" *ngIf="character$ | async as character; else loading">
    <div class="d-flex flex-column gap-3">
        <img [src]="character.thumbnailURL" width="400">
        <a [href]="character.resourceURI" target="_blank">
            <h4>{{ character.name }} (Id: {{ characterId}})</h4>
        </a>
        <p class="mb-0">{{ character.description ? character.description : "(No description available)" }} </p>
    </div>
  
    <hr>

    <div>
        <button 
            class="btn btn-dark py-1 px-4" 
            type="button" 
            (click)="toComment()">Add Comment
        </button>
    </div>
  
    <!-- List of comments from mongo -->
    <table class="table table-striped" *ngIf="character.comments.length > 0; else noComments">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of character.comments">
                <td>{{ c.commentId }}</td>
                <td>{{ c.text }}</td>
            </tr>
        </tbody>
    </table>
</div>
  
<ng-template #loading>
    <h2>Loading...</h2>
</ng-template>
  
<ng-template #noComments>
    <h2>No comments available.</h2>
</ng-template>
  